header {
    background:#46a4c9;
    padding:15px;
    width:100%
}
header .title {
    color:#EEE;
    font-size:25px;
    text-shadow:0 2px 1px rgba(0,0,0,.3);
    text-align:center;
}

.form-group {
    margin-top: 2%;     
    min-height: 35px;
}

