<header id="top" class="header">
    <div class="text-vertical-center">
        <h1><img class="logo" src="/site/home/isologo.png"></h1>
        <p></p>
        <h1>¡Muchas Gracias!</h1>
        <h3>Recibirás un email con más información</h3>
        <br>
    </div>
</header>