<section class="cover blue jumbotron text-xs-center">
  <div class="container">
    <h1><img class="logo" src="/site/home/isologo.png"></h1>
    <p></p>
    <h1>¡Muchas Gracias!</h1>
    <h3>Recibirás un email con más información</h3>
    <br>
  </div>
</section>