<div class="login">
  <div class="heading">
    <h2>Sign in</h2>
    <form method="post" action="/admin/login">

      <div class="input-group input-group-lg">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input type="email" name="email" class="form-control" placeholder="E-mail" required autofocus>
      </div>

      <div class="input-group input-group-lg">
        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
        <input type="password" name="password" class="form-control" placeholder="Password" required>
      </div>

      <button type="submit" class="float">Login</button>

    </form>
  </div>
</div>