.admin{
    max-width: 1100px;
    padding: 10px 0;
    margin: 0 auto;
    text-align: left;
}

    .admin .heading {
        text-align: center;
        margin-top: 1%;
        text-align: left;
        border-bottom: 1px solid rgba(255,255,255,.2);
    }

        .admin .heading h2 {
            font-size: 3em;
            font-weight: 300;
            color: rgba(255, 255, 255, 0.7);
            display: inline-block;
            padding-bottom: 5px;
            margin: 10px;
            text-shadow: 1px 1px 3px #23203b;
        }

        .admin .heading .addButton {
            height: 50px;
            width: 50px;
            border-radius: 25px;
            float: right;
            background-color: rgba(255,255,255,.3);
            background-image: url(/images/add64.png);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 25px 25px;
            margin: 10px;
            cursor: pointer;
            transition: all 200ms;
        }

            .admin .heading .addButton:hover {
                background-color: rgba(255,255,255,.5);
                transition: all 200ms;
            }

            .admin .heading .addButton:active {
                background-color: rgba(0,0,0,.5);
                transition: all 100ms;
            }
