*{
    font-family: 'Lato', sans-serif;
}

header {
    background: #00868C;
    padding: 15px;
    width: 100%;
    text-align: center;
}

header .title{
    color: #EEE;
    font-size: 25px;
    text-shadow: 0 2px 1px rgba(0,0,0,.3);
}
