<div border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" bgcolor="#F7F7F7" style="margin:0">
  <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" bgcolor="#F7F7F7">
    <tbody>
      <tr>
        <td style="padding-right:10px;padding-left:10px">
          <table align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#F7F7F7" style="width:600px;max-width:600px">
            <tbody>
              <tr>
                <td width="33%" valign="middle" style="text-align:left;padding:20px 0 10px 0">
                  <a href="http://partidodelared.org" target="_blank">
                    <img src="http://juanfrancis.co/test/pdr/2/wp-content/uploads/logohorceleste2501.png" width="250" height="83" border="0" alt="Partido de la Red" style="width:250px;min-height:83px">
                  </a>
                </td>
                <td width="66%" valign="middle" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;text-align:right;padding-top:12px;vertical-align:middle"></td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <table align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#F7F7F7" style="width:600px;max-width:600px">
            <tbody>
              <tr>
                <td colspan="2" style="background:#fff;border-radius:8px">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                      <tr>
                        <td style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif"></td>
                      </tr>
                      <tr>
                        <td style="font-family:'Helvetica neue',Helvetica,arial,sans-serif;padding:32px 40px">
                          <h2 style="color:#404040;font-weight:300;margin:0 0 12px 0;font-size:24px;line-height:30px;font-family:'Helvetica neue',Helvetica,arial,sans-serif">
                            Hola, {{datos.name}}:
                          </h2>
                          <p style="color:#666666;font-weight:400;font-size:15px;line-height:21px;font-family:'Helvetica neue',Helvetica,arial,sans-serif">
                            ¡Gracias por querer ser parte de este movimiento! Nos encantaría conocerte y saber un poco más de vos.
                          </p>
                          <p style="color:#666666;font-weight:400;font-size:15px;line-height:21px;font-family:'Helvetica neue',Helvetica,arial,sans-serif">
                            Falta muy poco para que termines tu proceso de afiliación. En los próximos días te estará contactando un Par del PdR para que puedas completar las fichas requeridas por ley y seas oficialmente un Afiliado.
                          </p><p style="color:#666666;font-weight:400;font-size:15px;line-height:21px;font-family:'Helvetica neue',Helvetica,arial,sans-serif">
                            Lo que estás haciendo es muy importante para construir la Política del sXXI.
                          </p>
                          <table width="100%" border="0" cellspacing="10" cellpadding="0" style="margin-top:20px; margin-bottom:12px">
                            <tbody>
                              <tr>
                                <td width="36%" style="padding:10px; background:#3B5998; border-radius:5px; text-align:center">
                                  <a href="http://fb.com/partidodelared" style="width:100%; text-decoration:none !important;">
                                    <table>
                                      <tbody>
                                        <tr>
                                          <td width="25">
                                            <img width="20" height="20" src="http://fvilledary.com/pdr/imagenes/facebook-logo.png" style="vertical-align:middle;">
                                          </td>
                                          <td>
                                            <span style="color:white; font-size:12px">Facebook del PDR</span>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </a>
                                </td>
                                <td width="32%" style="padding:5px; background:#46A4C9; border-radius:5px; text-align:center">
                                  <a href="http://partidodelared.org" style="width:100%; color:white; text-decoration:none !important;">
                                    <table>
                                      <tbody>
                                        <tr>
                                          <td width="30">
                                            <img width="30" height="30" src="http://fvilledary.com/pdr/imagenes/logo-white.png" style="vertical-align:middle;">
                                          </td>
                                          <td>
                                            <span style="color:white; font-size:15px">Web del PDR</span>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </a>
                                </td>
                                <td width="32%" style="padding:10px; background:#F6F6F6; border-radius:5px; text-align:center">
                                  <a href="http://wiki.partidodelared.org" style="width:100%; text-decoration:none !important;">
                                    <table>
                                      <tbody>
                                        <tr>
                                          <td width="25">
                                            <img width="20" height="20" src="http://fvilledary.com/pdr/imagenes/wikipedia-logo.png" style="vertical-align:middle;">
                                          </td>
                                          <td>
                                            <span style="color:#46A4C9; font-size:15px">Wiki del PDR</span>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <p style="color:#666666;font-weight:400;font-size:17px;line-height:24px;font-family:'Helvetica neue',Helvetica,arial,sans-serif;margin-bottom:6px;margin-top:36px">
                            Saludos,
                          </p>
                          <a href="http://partidodelared.org" target="_blank" style="text-decoration:none !important;">
                            <img width="337" height="31" src="http://fvilledary.com/pdr/imagenes/logo-handwriting.png">
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
          <table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;max-width:600px;font-family:Helvetica,Arial,sans-serif">
            <tbody>

              <tr>
                <td>
                  <table cellspacing="0" cellpadding="0" width="100%">
                    <tbody>
                      <tr>
                        <td style="background-color:#dedede;width:100%;font-size:1px;height:1px;line-height:1px">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td style="font-family:'Helvetica neue',Helvetica,arial,sans-serif;padding:24px 0;text-align:center">
                  <div style="color:#666666;font-weight:400;font-size:13px;line-height:18px;font-family:'Helvetica neue',Helvetica,arial,sans-serif;font-weight:300;padding-bottom:6px">
                    <span>
                      Este mensaje de correo electrónico se envió a
                      <a style="text-decoration:none;color:#0f90ba;font-family:'Helvetica neue',Helvetica,arial,sans-serif" href="mailto:{{datos.email}}" target="_blank">{{datos.email}}</a>
                    </span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>