<h1>Login</h1>
<form method="post" action="/admin/login">
  <input name="email" type="email" required autofocus>
  <input name="password" type="password" required>
  <button type="submit">Login</button>
</form>