<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Administracion de Afiliaciones - Partido de la Red</title>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/admin.css">
</head>
<body>
  <header>
    <div class="title">Administrador de Afiliaciones</div>
  </header>
  <main class="content">
    {{{body}}}
  </main>
  <script src="/js/admin.js"></script>
</body>
</html>