<header>
  <section class="cover jumbotron text-xs-center">
    <div class="container">
      <h1><img class="logo" src="/site/home/isologo.png"></h1>
      <div class="phrase">
        <h3>Estamos</h3>
        <h1 class="font-rock-salt">innovando</h1>
        <h3>en</h3>
        <h1 class="font-blacks-ops-one">política</h1>
      </div>
      <a href="/afiliate" class="btn btn-primary btn-lg">¡Sé parte!</a>
      </div>
  </section>
</header>

<div class="container">
  <div class="row home-steps">
    <div class="col-lg-4">
      <img class="icon" src="/site/home/plus.svg" alt="Generic placeholder image" width="140" height="140">
      <h2><b class="big-number">1.</b> Clickeá</h2>
      <!-- <p>Clickeá.</p> -->
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="icon" src="/site/home/type-box.svg" alt="Generic placeholder image" width="140" height="140">
      <h2><b class="big-number">2.</b> Completá tus datos</h2>
      <!-- <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p> -->
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="icon" src="/site/home/contact-form.svg" alt="Generic placeholder image" width="140" height="140">
      <h2><b class="big-number">3.</b> Afiliate</h2>
      <!-- <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p> -->
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
</div>
