<section class="cover jumbotron text-xs-center">
  <div class="container">
    <h1><img class="logo" src="/site/home/isologo.png"></h1>
    <div class="phrase">
      <h3>Estamos</h3>
      <h1 class="font-rock-salt">innovando</h1>
      <h3>en</h3>
      <h1 class="font-blacks-ops-one">política</h1>
    </div>
    <a href="/afiliate" class="btn btn-primary btn-lg">¡Sé parte!</a>
    </div>
</section>