<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Afiliaciones - Partido de la Red</title>
  <link rel="stylesheet" type="text/css" href="/css/admin.css">
</head>
<body>
  <header>
    <a href="/">Admin</a>
  </header>
  <main class="content">
    {{{body}}}
  </main>
</body>
</html>
