@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);

* {
  margin: 0;
  padding: 0;
}

input[type=text]{
    cursor: text;
}

html {
  background: #0B525E;
}

body {
  background: transparent;
}

body, input, button {
  font-family: 'Source Sans Pro', sans-serif;
}

*{
    font-family: 'Lato', sans-serif;
    cursor: default;
}

.fullSize{
  width: 100%;
  height: 100%;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
}

header {
    background: #00868C;
    padding: 15px;
    width: 100%;
    text-align: center;
}

header .title{
    color: #EEE;
    font-size: 25px;
    text-shadow: 0 2px 1px rgba(0,0,0,.3);
}

.content{
    margin: 0;
    text-align: center;
}

.admin {
  max-width: 1100px;
  padding: 10px 0;
  margin: 0 auto;
  text-align: left;
}

.admin .heading {
  text-align: center;
  margin-top: 1%;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.admin .heading h2 {
  font-size: 3em;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  padding-bottom: 5px;
  margin: 10px;
  text-shadow: 1px 1px 3px #23203b;
}

.admin .heading .addButton {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  float: right;
  background-color: rgba(255, 255, 255, .3);
  background-image: url(/images/add64.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  margin: 10px;
  cursor: pointer;
  transition: all 200ms;
}

.admin .heading .addButton:hover {
  background-color: rgba(255, 255, 255, .5);
  transition: all 200ms;
}

.admin .heading .addButton:active {
  background-color: rgba(0, 0, 0, .5);
  transition: all 100ms;
}

.wrapper{
  background-color: rgba(0,0,0,.3);
}

.dialogContainer{
  background-color: rgba(255,255,255,.9);
  border: 1px solid rgb(7, 38, 44);
  width: 500px;
  height: auto;
  margin: 300px auto 0;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0 2px 30px rgba(0,0,0,.2);
}

  .dialogContainer .inputWrapper {
    display: block;
    float: none;
    position: relative;
  }
  .dialogContainer .mapImage {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 270px;
    height: 270px;
    border: 1px solid #ccc;
  }

.dialogTitle {
  padding: 10px;
  background: rgb(7, 38, 44);
  color: #fff;
  font-size: 15px;
  text-align: center;
}

.dialogMessage {
  padding: 20px 10px;
  background: #eee;
  color: #222;
  font-size: 15px;
  position: relative;
}

.dialogFooter {
  padding: 10px;
  text-align: right;
  border-top: 1px solid rgba(0,0,0,.2);
}

.dialogButton {
  display: inline-block;
  padding: 5px 20px;
  margin: 0 3px;
  background: #808F92;
  font-size: 15px;
  border-radius: 3px;
  border-bottom: 1px solid rgba(0,0,0,.7);
  color: #fff;
  cursor: pointer;
}

.dialogButton.cancel {
  background: transparent;
  border: 1px solid #808f92;
  color: #808f92;
}

.dialogButton.cancel:hover {
  color: #fff;
}

.dialogButton:hover {
  background-color: #97A7AB;
}

.infoLabel{
  font-weight: 600;
  width: 115px;
  display: inline-block;
  vertical-align: top;
}

.infoContent{
  font-weight: 400;
  display: inline-block;
  position: relative;
  right: 0;
  white-space: normal;
  overflow: hidden;
}

@import 'admin/login/index.css';
@import 'admin/peers/index.css';
