<div class="wrapper fullSize">
  <div class="dialogContainer centered">
    <div class="dialogTitle">{{title}}</div>
    <div class="dialogMessage">{{{message}}}</div>
    <div class="dialogFooter">
      <div class="dialogButton accept" data-accept>Aceptar</div>
      <div class="dialogButton cancel" data-close>Cancelar</div>
    </div>
  </div>
</div>
