<div class="admin">
  <div class="heading">
    <h2>Editar Afiliado</h2>
  </div>
  <div class="newContainer">
    <form id="peerForm">
      {{> ./form/index.hbs }}
    </form>
  </div>
</div>