.admin .peersListHeaders {
	margin:10px 0 0;
	background:#05323a
}
.admin .peersListHeaders .listHeader {
	display:inline-block;
	border:1px solid rgba(0,0,0,.1);
	padding:10px;
	white-space:nowrap;
	text-overflow:ellipsis;
	color:#eee;
	font-size:15px;
	background:rgba(255,255,255,.02);
	vertical-align:top;
	position:relative
}
.listHeader .searchContainer {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	padding:6px 40px 6px 6px
}
.listHeader .searchField {
	background:#0a363e;
	border:0;
	border-bottom:1px solid rgba(255,255,255,.5);
	padding:3px 6px;
	outline:0;
	cursor:text;
	width:100%
}
.admin .peersListHeaders .listHeader.state {
	width:10%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis
}
.admin .peersListHeaders .listHeader.name {
	width:25%
}
.admin .peersListHeaders .listHeader.doc {
	width:15%
}
.admin .peersListHeaders .listHeader.email {
	width:25%
}
.admin .peersListHeaders .listHeader.actions {
	width:20%
}
.admin .peersList {
	margin:0 0 10px
}
.admin .peersList .noItems {
	text-align:center;
	padding:40px;
	font-size:30px;
	color:rgba(255,255,255,.3)
}
.visible {
	display:block
}
.hidden {
	display:none
}
.admin .peersList .peerContainer {
	background:rgba(255,255,255,.7);
	border-bottom:1px solid rgba(0,0,0,.8);
	position:relative
}
.admin .peersList .peerContainer .peerEstado,.button {
	background-position:center center;
	background-repeat:no-repeat
}
.peerContainer>div {
	line-height:20px;
	padding:10px;
	font-size:15px;
	color:#0b525e
}
.admin .peersList .peerContainer .peerNombre {
	width:25%
}
.admin .peersList .peerContainer .peerMatricula {
	width:15%
}
.admin .peersList .peerContainer .peerEmail {
	width:25%
}
.admin .peersList .peerContainer .peerEstado {
	margin-left:0;
	width:10%;
	height:40px;
	position:relative;
	left:0;
	top:0;
	background-size:20px 20px
}
.admin .peersList .peerContainer .peerEstado.datosCompletos.ok {
	background-image:url(/images/datosCompletosOK.png)
}
.admin .peersList .peerContainer .peerEstado.datosCompletos.no {
	background-image:url(/images/datosCompletosNO.png)
}
.admin .peersList .peerContainer .peerEstado.tieneFirmas.ok {
	background-image:url(/images/tieneFirmasOK.png)
}
.admin .peersList .peerContainer .peerEstado.tieneFirmas.no {
	background-image:url(/images/tieneFirmasNO.png)
}
.admin .peersList .peerContainer .peerEstado.noAfiliado.ok {
	background-image:url(/images/noAfiliadoOK.png)
}
.admin .peersList .peerContainer .peerEstado.noAfiliado.no {
	background-image:url(/images/noAfiliadoNO.png)
}
.admin .peersList .peerContainer .actionsContainer {
	position:relative;
	right:0;
	top:0;
	height:40px;
	width:20%;
	opacity:.3;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	margin-right:0;
	padding:0
}
.admin .peersList .peerContainer:hover>.actionsContainer {
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
}
.admin .peersList .peerContainer .actionsContainer>a {
	margin:6px 6px 6px 0
}
.button {
	height:25px;
	width:25px;
	border-radius:15px;
	float:right;
	background-color:rgba(255,255,255,.5);
	background-size:13px 13px;
	cursor:pointer;
	-webkit-transition:all .2s;
	transition:all .2s
}
.button:hover {
	background-color:rgba(255,255,255,.8);
	-webkit-transition:all .2s;
	transition:all .2s
}
.listHeader .button {
	position:absolute;
	right:6px;
	top:6px;
	background-color:transparent
}
.button.search {
	background-image:url(/images/search64.png)
}
.button.cancel {
	background-image:url(/images/error64.png)
}
.button.info {
	background-image:url(/images/info64.png)
}
.button.edit {
	background-image:url(/images/edit64.png)
}
.button.delete {
	background-image:url(/images/delete64.png)
}
.newContainer {
	max-width:800px;
	margin:20px auto;
	text-align:center
}
.newContainer input {
	padding:10px;
	margin:5px 1%;
	font-size:17px;
	background:#fff;
	border:1px solid #ddd;
	border-top-width:2px;
	border-radius:4px;
	width:98%;
	height:56px;
	color:#46a4c9;
	outline:0;
	-webkit-transition:border-color .2s;
	transition:border-color .2s
}
.newContainer input:focus {
	border-color:#46a4c9;
	-webkit-transition:border-color .2s;
	transition:border-color .2s
}
.inputWrapper {
	padding:0;
	width:100%;
	white-space:nowrap;
	float:left
}
#sectionImagenesDocumento .inputWrapper.third {
	padding:5px
}
.inputWrapper.big>input {
	font-size:30px;
	text-align:left;
	height:70px
}
.half {
	width:50%
}
.almostHalf {
	width:40%
}
.third {
	width:33.33333333%
}
.almostThird {
	width:30%
}
.quarter {
	width:25%
}
.fifth {
	width:20%
}
.newContainer .inputWrapper.checkbox {
	padding:20px;
	float:none;
	text-align:left
}
.newContainer label {
	color:#46a4c9;
	font-size:22px;
	padding:0;
	font-weight:400;
	width:100%
}
input[type=checkbox],input[type=radio] {
	position:relative!important;
	width:30px;
	height:30px;
	vertical-align:bottom;
	margin-right:10px
}
.imagePreview {
	height:200px;
	background-position:center;
	background-repeat:no-repeat;
	background-size:60px;
	background-color:rgba(0,0,0,.1);
	border:1px solid #46a4c9;
	background-image:url(/images/nophoto.png)
}
label.imageSelector {
	width:100%;
	margin:0;
	background:rgba(255,255,255,.6);
	border:1px solid #46a4c9;
	padding:3px 0 6px;
	cursor:pointer
}
label.imageSelector input[type=file] {
	position:fixed;
	left:-1000px
}
label.imageSelector span {
	font-size:17px;
	display:block;
	cursor:pointer;
	margin:0 60px;
	overflow:hidden;
	white-space:pre-wrap;
	line-height:22px;
}
.newContainer select {
	padding:10px;
	margin:5px 1%;
	font-size:17px;
	background:#fff;
	border:1px solid #ddd;
	border-bottom-width:2px;
	border-radius:4px;
	width:98%;
	height:56px;
	color:#46a4c9;
	outline:0;
	-webkit-transition:border-color .2s;
	transition:border-color .2s
}
.newContainer select:focus {
	border-color:#46a4c9;
	-webkit-transition:border-color .2s;
	transition:border-color .2s
}
.formGroup {
	padding:20px;
	background:rgba(70,164,201,.21);
	color:#46a4c9
}
.formGroup.header {
	margin:30px 0 0;
	font-size:30px;
	font-weight:300;
	width:100%;
	display:inline-block;
	text-align:left;
	padding:10px 20px 0
}
.formGroup.header input[type=checkbox] {
	width:25px;
	height:25px
}
.formGroup.header label {
	font-size:20px
}
label {
	line-height:40px;
}
.formGroup.content {
	overflow:hidden
}
.errorList {
	margin:30px 0 0;
	background:rgba(255,255,255,.1);
	padding:5px;
	display:none
}
.errorItem {
	padding:10px;
	margin:2px 0;
	text-align:left;
	background:#b14f4f;
	border-bottom:1px solid rgba(0,0,0,.3);
	border-radius:2px;
	color:#fff;
	font-size:15px
}
.newContainer form button {
	margin-top:30px;
	background:#46a4c9;
	border:none;
	border-bottom:5px solid rgba(0,0,0,.2);
	font-size:1.6em;
	font-weight:300;
	padding:15px 0;
	width:100%;
	border-radius:3px;
	color:#f4faf9;
	transition:all .2s
}
.newContainer form button:hover {
	background:#61B9DC;
	-webkit-animation:hop 1s;
	transition: all .2s
}