<div class="admin">
  <div class="heading">
    <h2>Nuevo Afiliado</h2>
  </div>
  <div class="newContainer">
    <form id="peerForm" action="null">
      {{> ../peers-form/index.hbs }}
    </form>
  </div>
</div>