.font-rock-salt {
  font-family: 'Rock Salt', cursive;
}

.font-blacks-ops-one {
  font-family: 'Black Ops One', cursive;
}

footer {
  margin-top: 60px;
}

.btn {
  border-bottom: 2px solid rgba(0,0,0,.5);
}

@import 'app/site/home/index.css';
