<div class="admin">
  <div class="heading">
    <h2>Editar Afiliado</h2>
  </div>
  <div class="newContainer">
    <form onsubmit="SaveData(); return false;">
      <input type="hidden" name="_id" value="{{peer.id}}" />
      {{> peers/form/index }}
    </form>
  </div>
</div>