.admin .peersListHeaders {
  margin: 10px 0 0 0;
  background: #05323A;
}

.admin .peersListHeaders .listHeader {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, .1);
  padding: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #eee;
  font-size: 15px;
  background: rgba(255, 255, 255, .02);
  vertical-align: top;
  position: relative;
}

.listHeader .searchContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 6px 40px 6px 6px;
}

.listHeader .searchField {
  background: #0A363E;
  border: 0;
  border-bottom: 1px solid rgba(255,255,255,.5);
  padding: 3px 6px;
  outline: none;
  cursor: text;
  width: 100%;
}

.admin .peersListHeaders .listHeader.state {
  width: 5%;
  padding: 10px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.admin .peersListHeaders .listHeader.name {
  width: 30%;
}

.admin .peersListHeaders .listHeader.doc {
  width: 20%;
}

.admin .peersListHeaders .listHeader.email {
  width: 35%;
}

.admin .peersListHeaders .listHeader.actions {
  width: 10%;
}

.admin .peersList {
  margin: 0 0 10px 0;
}

.admin .peersList .peerContainer {
  background: rgba(255, 255, 255, .7);
  border-bottom: 1px solid rgba(0, 0, 0, .8);
  position: relative;
}

.peerContainer > div {
  display: inline-block;
  line-height: 25px;
  vertical-align: top;
  padding: 10px;
  font-size: 18px;
  color: #0B525E;
}

.admin .peersList .peerContainer .peerNombre {
  width: 30%;
}

.admin .peersList .peerContainer .peerMatricula {
  width: 20%;
}

.admin .peersList .peerContainer .peerEmail {
  width: 35%;
}

.admin .peersList .peerContainer .peerEstado {
  margin-left: 0;
  width: 5%;
  height: 45px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px;
  position: relative;
  left: 0;
  top: 0;
}

.admin .peersList .peerContainer .peerEstado.ok {
  background-image: url(/images/ok64.png);
  background-color: #56B56F;
}

.admin .peersList .peerContainer .peerEstado.warning {
  background-image: url(/images/warning64.png);
  background-color: #FFC80C;
}

.admin .peersList .peerContainer .peerEstado.error {
  background-image: url(/images/error64.png);
  background-color: #D64D4D;
}

.admin .peersList .peerContainer .actionsContainer {
  position: relative;
  right: 0;
  top: 0;
  height: 45px;
  width: 10%;
  opacity: .6;
  margin-right: 0;
  padding: 0;
}

.admin .peersList .peerContainer:hover > .actionsContainer {
  opacity: 1;
}

.admin .peersList .peerContainer .actionsContainer > a {
  margin: 8px 8px 8px 0;
}

.button {
  height: 29px;
  width: 29px;
  border-radius: 15px;
  float: right;
  background-color: rgba(255, 255, 255, .5);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  cursor: pointer;
  transition: all 200ms;
}

.button:hover {
  background-color: rgba(255, 255, 255, .8);
  transition: all 200ms;
}

.listHeader .button {
  position: absolute;
  right: 6px;
  top: 6px;
  background-color: transparent;
}

.button.search {
  background-image: url(/images/search64.png);
}

.button.cancel {
  background-image: url(/images/error64.png);
}

.button.edit {
  background-image: url(/images/edit64.png);
}

.button.delete {
  background-image: url(/images/delete64.png);
}

.newContainer{
  max-width: 700px;
  margin: 20px auto;
  text-align: center;
}

.newContainer input {
  padding: 10px;
  margin: 0;
  font-size: 17px;
  background: rgba(255,255,255,.3);
  border: 2px solid rgba(11,82,94,.2);
  border-radius: 0;
  width: 100%;
  height: 56px;
  color: #eee;
  outline: none;
  transition: border-color 200ms;
}

.newContainer input:focus {
  border-color: rgba(255,255,255,.4);
  transition: border-color 200ms;
}

.newContainer .inputWrapper{
  padding: 0px;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  white-space: nowrap;
  float: left;
}

.newContainer .inputWrapper.big > input{
  font-size: 30px;
  text-align: center;
  height: 70px;
}

  .newContainer .inputWrapper.half {
    width: 50%;
  }
  .newContainer .inputWrapper.almostHalf {
    width: 40%;
  }
  .newContainer .inputWrapper.third {
    width: 33.33333333%;
  }
  .newContainer .inputWrapper.almostThird {
    width: 30%;
  }
  .newContainer .inputWrapper.quarter {
    width: 25%;
  }
  .newContainer .inputWrapper.fifth {
    width: 20%;
  }


.newContainer select {
  padding: 10px;
  margin: 0;
  font-size: 17px;
  background: rgba(255,255,255,.3);
  border: 2px solid rgba(11,82,94,.2);
  border-radius: 0;
  width: 100%;
  height: 56px;
  color: #eee;
  outline: none;
  transition: border-color 200ms;
}
.newContainer select:focus {
  border-color: rgba(255,255,255,.4);
  transition: border-color 200ms;
}

.formGroup {
  padding: 20px;
  background: rgba(0,0,0,.3);
  color: #eee;
}
.formGroup.header {
  margin: 30px 0 0 0;
  font-size: 30px;
  font-weight: 300;
  width: 100%;
  display: inline-block;
}

.formGroup.content {
  overflow: hidden;
}

.newContainer form button {
  margin-top: 30px;
  background: #6CB6B3;
  border: none;
  font-size: 1.6em;
  font-weight: 300;
  padding: 15px 0;
  width: 100%;
  border-radius: 3px;
  color: #f4faf9;
  border-bottom: 4px solid #4fa09c;
}
.newContainer form button:hover {
  background: #72b9b6;
  -webkit-animation: hop 1s;
  animation: hop 1s;
}