<div class="admin">
  <form action="/admin/peers" method="post">
    <input type="text" name="nombre" placeholder="Nombre">
    <input type="text" name="apellido" placeholder="Apellido">
    <input type="email" name="email" placeholder="Email">
    <button type="submit">Crear</button>
  </form>
</div>